<script setup lang="ts">
import { Codemirror } from 'vue-codemirror'
import { sql } from '@codemirror/lang-sql'
import { oneDark } from '@codemirror/theme-one-dark'
import { useEditorPanes } from '@/store/code'

defineProps({
  whichPane: { type: Number, required: true },
})
// const code = ref('SELECT * FROM table_name;')
const extensions = [sql(), oneDark]
const { panes } = useEditorPanes()
</script>

<template>
  <Codemirror
    v-model="panes[whichPane].code"
    placeholder="Code goes here..."
    :style="{ height: '250px' }"
    :autofocus="true"
    :indent-with-tab="true"
    :tab-size="2"
    :extensions="extensions"
  />
</template>
