<script setup lang="ts">
import { ref } from 'vue'
import { notification } from 'ant-design-vue'
import Editor from './Editor.vue'
import { useEditorPanes } from '@/store/code'
import { useAllConnectionsStore } from '@/store/connection'

const allConns = useAllConnectionsStore()

const code = useEditorPanes()
const activeKey = ref(code.panes[0].uid)
const newTabIndex = ref(0)

const validateAndExecuteQuery = () => {
  if (allConns.connections.length === 0) {
    notification.error({
      message: 'No connection found',
      description: 'Please add a connection and connect to it before executing queries',
    })
  }
  else if (allConns.activeConnection === '') {
    notification.error({
      message: 'No connected database',
      description: 'Please connect to a database before executing queries',
    })
  }
  else {
    if (activeKey.value === '2')
      console.log('display error message')
    else
      console.log('return a json header + table')
  }
}

const add = () => {
  activeKey.value = `newTab${++newTabIndex.value}`
  code.panes.push({ title: 'New Tab', code: 'Content of new Tab', uid: activeKey.value })
}

const remove = (targetKey: string) => {
  let lastIndex = 0
  code.panes.forEach((pane, i) => {
    if (pane.uid === targetKey)
      lastIndex = i - 1
  })
  code.panes = code.panes.filter(pane => pane.uid !== targetKey)
  if (code.panes.length && activeKey.value === targetKey) {
    if (lastIndex >= 0)
      activeKey.value = code.panes[lastIndex].uid
    else
      activeKey.value = code.panes[0].uid
  }
}

const onEdit = (targetKey: string | MouseEvent, action: string) => {
  if (action === 'add')
    add()
  else
    remove(targetKey as string)
}
</script>

<template>
  <div class="flex flex-row-reverse">
    <a-button
      type="primary"
      class="absolute top-0 right-0"
      @click="validateAndExecuteQuery"
    >
      Execute
    </a-button>
  </div>
  <a-tabs v-model:activeKey="activeKey" type="editable-card" @edit="onEdit">
    <a-tab-pane v-for="(pane, idx) in code.panes" :key="pane.uid" :tab="pane.title" :closable="true">
      <Editor :which-pane="idx" />
    </a-tab-pane>
  </a-tabs>
</template>

