<script setup lang="ts">
import Connections from '@/components/sidebar/Connections.vue'
import { useAllConnectionsStore } from '@/store/connection'
import TabbedEditor from '@/components/main/TabbedEditor.vue'
</script>

<template>
  <a-layout class="surround">
    <a-layout-sider width="350px">
      <a-layout class="connections">
        <Connections />
      </a-layout>
      <a-layout>
        <!-- <Tables /> -->
      </a-layout>
    </a-layout-sider>
    <a-layout-content class="content">
      <a-layout class="editor">
        <TabbedEditor />
      </a-layout>
      <a-layout>
        Results
      </a-layout>
    </a-layout-content>
  </a-layout>
</template>

<style scoped>
.surround {
  height: 100%;
}

.connections {
  padding: 8px;
  height: 40%;
}

.editor {
  padding: 16px;
  height: 40%;
}

.content {
  padding: 8px;
}
</style>
