<script setup lang="ts">
import { ref } from 'vue'
import { nanoid } from 'nanoid'
import type { DrawerProps } from 'ant-design-vue'
import { GroupOutlined } from '@ant-design/icons-vue'
import { message } from 'ant-design-vue'
import { useAllConnectionsStore, useNewConnectionStore } from '@/store/connection'
import type { IConnection } from '@/types'

const connectionState = useNewConnectionStore()
// const { connections, activeConnection, setCurrentConnection } = useAllConnectionsStore()
const allConns = useAllConnectionsStore()
const drawer = ref<boolean>(false)

const showNewConnection = () => {
  drawer.value = true
}
const closeNewConnectionModal = () => {
  drawer.value = false
  connectionState.$reset()
}

const onFinish = () => {
  allConns.connections.push({
    uid: nanoid(7),
    hostname: connectionState.hostname,
    password: connectionState.password,
    port: connectionState.port,
    name: connectionState.name,
    connected: false,
  })
  connectionState.$reset()
  closeNewConnectionModal()
}

const connectToDb = (conn: IConnection) => {
  message.loading({ content: 'Connecting...', key: conn.uid })
  setTimeout(() => {
    allConns.setCurrentConnection(conn.uid)
    message.success({ content: 'Connected!', key: conn.uid, duration: 2 })
  }, 1500)
}
</script>

<template>
  <div class="flex justify-center py-[16px]">
    <a-button block type="primary" @click="showNewConnection">
      + Add Connection
    </a-button>
    <a-drawer
      :width="500" title="Create New Connection" placement="left" :visible="drawer"
      @close="closeNewConnectionModal"
    >
      <template #extra>
        <a-button style="margin-right: 8px" @click="closeNewConnectionModal">
          Cancel
        </a-button>
      </template>
      <a-form
        :model="connectionState" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" autocomplete="off"
        @finish="onFinish"
      >
        <a-form-item
          label="Connection Name" name="name"
          :rules="[{ required: true, message: 'Give your connection a name!' }]"
        >
          <a-input v-model:value="connectionState.name" placeholder="Connection 1" />
        </a-form-item>
        <a-form-item label="Hostname" name="hostname" :rules="[{ required: true, message: 'Enter your hostname!' }]">
          <a-input v-model:value="connectionState.hostname" />
        </a-form-item>
        <a-form-item label="Port">
          <a-form-item name="port">
            <a-input-number v-model:value="connectionState.port" :min="1" :max="65536" />
          </a-form-item>
        </a-form-item>
        <a-form-item
          label="Password" name="password"
          :rules="[{ required: true, message: 'Enter database password!' }]"
        >
          <a-input-password v-model:value="connectionState.password" />
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button type="primary" html-type="submit">
            Submit
          </a-button>
        </a-form-item>
      </a-form>
    </a-drawer>
  </div>

  <a-divider style="height: 1px; background-color: white; margin-top: 0; margin-bottom: 0;" />

  <a-list
    :bordered="true"
    :data-source="allConns.connections"
    class="px-5 h-full overflow-y-scroll"
  >
    <template #header>
      Connections
    </template>
    <template #renderItem="{ item }">
      <a-list-item :key="item.uid">
        <a-list-item-meta>
          <template #title>
            <div class="flex justify-between">
              <span class="items-start">
                {{ item.name }}
              </span>
              <a-button
                type="primary"
                size="small"
                :disabled="allConns.activeConnection === item.uid"
                @click="connectToDb(item)"
              >
                Connect
              </a-button>
            </div>
          </template>
          <template #avatar>
            <group-outlined />
          </template>
        </a-list-item-meta>
      </a-list-item>
    </template>
  </a-list>
</template>

